{% extends 'base.html.twig' %}
{% block body %}
	<section
		class="hero-slider">
		<!-- Single Slider -->
		<div class="single-slider">
			<div class="container">
				<div class="row no-gutters">
					<div class="col-lg-9 offset-lg-3 col-12">
						<div class="text-inner">
							<div class="row">
								<div class="col-lg-7 col-12">
									<div class="hero-text">
										<h1>
											<span>${{ slider.price }}</span>
											{{
                        slider.name
                      }}
										</h1>
										<p>
											{{ slider.description }}
										</p>
										<div class="button">
											<a href="/detail/purchase/order/new" class="btn">Shop Now!</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- / End Single Slider -->
	</section>
	<!-- / End Slider Area -->

	<!-- Start Small Banner  -->
	<section class="small-banner section">
		<div class="container-fluid">
			<div
				class="row">
				<!-- Single Banner  -->
				<div class="col-lg-4 col-md-6 col-12">
					<div class="single-banner">
						<img src="https://via.placeholder.com/600x370" alt="#">
						<div class="content">
							<p>Man's Collectons</p>
							<h3>Summer travel
								<br>
								collection</h3>
							<a href="#">Discover Now</a>
						</div>
					</div>
				</div>
				<!-- /End Single Banner  -->
				<!-- Single Banner  -->
				<div class="col-lg-4 col-md-6 col-12">
					<div class="single-banner">
						<img src="https://via.placeholder.com/600x370" alt="#">
						<div class="content">
							<p>Bag Collectons</p>
							<h3>Awesome Bag
								<br>
								2020</h3>
							<a href="#">Shop Now</a>
						</div>
					</div>
				</div>
				<!-- /End Single Banner  -->
				<!-- Single Banner  -->
				<div class="col-lg-4 col-12">
					<div class="single-banner tab-height">
						<img src="https://via.placeholder.com/600x370" alt="#">
						<div class="content">
							<p>Flash Sale</p>
							<h3>Mid Season
								<br>
								Up to
								<span>40%</span>
								Off</h3>
							<a href="#">Discover Now</a>
						</div>
					</div>
				</div>
				<!-- /End Single Banner  -->
			</div>
		</div>
	</section>
	<!-- End Small Banner -->

	<!-- Start Product Area -->
	<div class="product-area section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section-title">
						<h2>Pays</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="product-info">
						<div
							class="nav-main">
							<!-- Tab Nav -->
							<ul class="nav nav-tabs" id="myTab" role="tablist">
								{% for country in countries %}
									<li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#man" role="tab">{{ country.country }}</a>
									</li>
								{% endfor %}
							</ul>
							<!--/ End Tab Nav -->
						</div>
						<div
							class="tab-content" id="myTabContent">
							<!-- Start Single Tab -->
							
							<!--/ End Single Tab -->
						</div> 
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Product Area -->


	<br>
	<br>
	<br>


	<!-- Start Cowndown Area -->
	
	<br>
	<br>
	<!-- /End Cowndown Area -->

{% endblock %}
