<form method="post" action="{{ path('detail_purchase_order_delete', {'id': detail_purchase_order.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ detail_purchase_order.id) }}">
    <button class="btn">Delete</button>
</form>
