<form method="post" action="{{ path('purchase_order_delete', {'id': purchase_order.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ purchase_order.id) }}">
    <button class="btn">Delete</button>
</form>
