{% extends 'base.html.twig' %}

{% block title %}Edit AcceptanceOrder{% endblock %}

{% block body %}
    <h1>Edit AcceptanceOrder</h1>

    {{ include('acceptance_order/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('acceptance_order_index') }}">back to list</a>

    {{ include('acceptance_order/_delete_form.html.twig') }}
{% endblock %}
